
    /* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  padding: 10px;
  text-align: center;
  color: #fff;
}

header .logo {
  font-size: 24px;
  font-weight: bold;
}

nav a {
  margin: 0 15px;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

nav a:hover {
  text-decoration: underline;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

/* Order Page Styles */
main {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.order-section {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 50%;
}

.order-section h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
}

.recipe-details {
  text-align: center;
}

.recipe-details h3 {
  font-size: 24px;
  margin: 10px 0;
}

.recipe-details img {
  width: 100%;
  max-width: 300px;
  margin: 15px 0;
}

.order-form label {
  font-size: 16px;
  margin-bottom: 5px;
  display: block;
}

.order-form input,
.order-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  margin-right: 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;
}

.order-form textarea {
  height: 100px;
  resize: none;
}

.order-button {
  background-color: #4CAF50;
  color: white;
  padding: 15px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.order-button:hover {
  background-color: #45a049;
}
h4{
    color: black;
}
